body {
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    height: 0;
    background: transparent; /* Optional: just make scrollbar invisible */
}

h1 {
    color: red;

}

container {
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

#background {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    
}
#foreground {
    position: absolute;
    top: 0;
    left: 20;
}

